# gcc build output
*.o
uwsav-dump

# MSVS build output
/.build/*
uwsav-dump.exe

# MSVS workspace files
*.VC.db
*.VC.opendb
*.vcxproj.user
/msvc/.vs/*

# MSVS intermediate output
/msvc/Win32/*
/msvc/x64/*
